.connexion
{
    background-color: cornflowerblue;
    color: white;
    height: 30px;
    width: 100px;
    border-color: cornflowerblue;
    font-weight: bold;
    border-style: solid;
}

.im
{
    display: inline;
    float: right;
    color: rgba(0,0,0,0.87);
    margin-right: 12px;
    font-size: 13px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.cx
{
    display: inline;
    float: right;
    color: rgba(0, 0, 0, 0.596);
    margin-right: 12px;
    font-size: 16px;
    margin-top: 6px;
    font-weight: bold;
}
.gm
{
    display: inline;
    float: right;
    color: rgba(0,0,0,0.87);
    margin-right: 12px;
    font-size: 13px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.app
{
    display: inline;
    float: right;
    color: rgba(0, 0, 0, 0.658);
    margin-right: 12px;
    font-size: 16px;
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
}


.vic
{
    text-align: center;
    padding-top: 147px;
}
.centrer
{
    display: inline;
    background-color: #f2f2f2;
    color: #5F6368;
    font-family: Arial, Helvetica, sans-serif;
    height: 36px;
    width: 135px;
    border-color: #f2f2f2;
    border-style: solid;
    text-align: center;
    cursor: pointer;
    margin-right: 7px;
}
.centrera
{
    display: inline;
    background-color: #f2f2f2;
    color: #5F6368;
    font-family: Arial, Helvetica, sans-serif;
    height: 36px;
    width: 135px;
    border-color: #f2f2f2;
    border-style: solid;
    text-align: center;
    cursor: pointer;
}
.centre
{
    text-align: center;
}
#navbar
{
    display: inline;
    width: 75px;
    text-align: center;

}
.premier
{
    color: rgba(0, 0, 0, .54);
    font-size: 15px;
    background-color:#f2f2f2;
    padding: 10px;
    margin-top: 161px;
    border-top-style: solid;
    border-top-color: rgb(228, 228, 228);
    font-family: Arial, Helvetica, sans-serif;
    height: 7px;
}
.gauche_lien
{
    color: #5f6368;
    font-size: 13px;
    background-color:#f2f2f2;
    padding: 10px;
    margin-top: 170px;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
}
.second
{
    text-align: right;
    background-color:#f2f2f2;
    padding: 10px;
    border-top-style: solid;
    border-top-color: rgb(228, 228, 228);
    margin-top: 0px;

}

.second span{
    float: left;
    height: 7px;
}
.bas{
    background-color:#f2f2f2;
    border-top-color: rgb(228, 228, 228);
}

